@model HMSS.Models.Doctor

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">password</label>
                <input asp-for="password" class="form-control" type="password"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom" class="control-label">Nom</label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom" class="control-label">Prenom</label>
                <input asp-for="prenom" class="form-control" />
                <span asp-validation-for="prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="speciality" class="control-label">Speciality</label>
                <input asp-for="speciality" class="form-control" />
                <span asp-validation-for="speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department_id" class="control-label">Department Id</label>
                <input asp-for="Department_id" class="form-control" />
                <span asp-validation-for="Department_id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



