@model HMSS.Models.Departement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
    </dl>
    <br /><button onclick="location.href='@Url.Action("Index", "Patient")'" class="btn btn-primary mb1 bg-green">Patients list</button>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_Dep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
