@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Management System</h1>
    
    <img src="images/hospitalLogo.jpg" style="max-width: 50%; height: auto; position:center" /><br />
    <button onclick="location.href='@Url.Action("Login", "Doctor")'" class="btn btn-primary mb1 bg-green">Login</button>
</div>
